@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400');

body
{
  background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  font-size: large;
  font-weight: 200;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}


.center{
    text-align: center;
    background: rgb(92,234,60);
    background: linear-gradient(90deg, rgba(92,234,60,1) 26%, rgba(29,143,253,0.9585084033613446) 50%, rgba(131,58,180,1) 82%);
    font-weight: 400;
    font-style: initial;
}
fieldset{
    width:600px;
    border: 3px solid black;
    border-radius: 25px;
}


input:required{
    border:2px groove red;
}
input:optional{
    border: 2px dashed aqua;
}

input[readonly]{
    background: rgb(161,148,233);
    background: radial-gradient(circle, rgba(161,148,233,1) 14%, rgba(174,213,238,1) 73%);
    color:rgb(206, 42, 198)
    font-weight: 800;
}

select{
    background: rgb(236,75,124);
    background: radial-gradient(circle, rgba(236,75,124,0.9697128851540616) 15%, rgba(63,94,251,1) 44%, rgba(236,75,124,0.9697128851540616) 70%);;
    border-radius: 10px;
    font-size: 15px;
    width:200px;
    color:bisque;
    cursor: pointer;

}

#cursor{
    cursor: pointer;
}



p{
    display:none;
}

input:hover + p{
    display: inline;
    font-family: monospace;
    background-color:aqua;
}
input:focus
{
    background-color: rgb(255, 127, 191);
    font-weight: bold;
}
img{
    display: none;
}

input[type="email"]:focus:valid ~ img.valid{
    display:inline;
    width:15px;
    height:15px;
}

input[type="email"]:focus:invalid ~ img.invalid{
    display:inline;
    width:15px;
    height:15px;
}

input[type="radio"]:checked
{
    width: 18px;
    height:18px;
}
input[type="radio"]:checked + label{
    color: red;
}






  a {
    position: relative;
    background: #444;
    color: aqua;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    padding: 2px 3px;
    transition: 0.5s;
    border-radius: 6px;
  }
  .cursive-border{
    border-radius:15px;
  }
  
  a:hover {
    letter-spacing: 0.25rem;
    background: var(--color);
    color: var(--color);
    box-shadow: 0 0 35px var(--color);
  }
  
  a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
  }
  
  a span {
    position: relative;
    z-index: 1;
  }
  
  a i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  a i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 8px;
    height: 3px;
    border: 1.5px solid var(--color);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  a:hover i::before {
    left: 20%;
    width: 20px;
  }
  
  a i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 8px;
    height: 3px;
    border: 1.5px solid var(--color);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  a:hover i::after {
    left: 80%;
    width: 20px;
  }
